<h6 class="card-header">Due Date: {{goal.dueDate | date: 'dd/MM/yyyy'}}</h6>
<div class="card-body">
    <h5 class="card-title">{{goal.goalName}}</h5>
    <p class="card-text">Tag: {{goal.tag}}</p>
    <p class="card-text">{{goal.goalNumber}} {{goal.goalUnit}}</p>
    <p class="card-text">StartDate: {{goal.startDate | date: 'shortDate'}}</p>
    <p class="card-text">DueDate: {{goal.dueDate | date: 'shortDate'}}</p>
    <p class="card-text">GoalId: {{goal._id }}</p>
    
    <div class="progress" (ngInit)="getRecodsByGoalId(goal._id)">
        <div class="progress-bar progress-bar-animated"  [style.width]='finishedPercentage' attr.aria-valuenow=0 aria-valuemin=0 attr.aria-valuemax={{goal.goalNumber}}>{{finishedPercentage}}</div>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" attr.data-target="#addRecordModal_{{goal._id}}">
            Add Record
    </button>
    <button (click)="deleteGoal()" class="btn btn-danger">Delete</button>
    <a href="#" class="btn btn-warning">Update</a>
</div>

<!-- Modal -->
<div class="modal fade" attr.id="addRecordModal_{{goal._id}}" tabindex="-1" role="dialog" attr.aria-labelledby="addRecordModal_{{goal._id}}"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRecordModal">Create Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-md-center">

                        <form>
                           

                            <div class="form-group">
                                <label for="finishedUnits">Finished Units Number</label>
                                <input type="number" name="finishedUnits" #finishedUnits class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="finishedDate">Finished Date</label>
                                <input type="date" name="length" #finishedDate class="form-control">
                            </div>

                            <button class="btn btn-secondary"  data-dismiss="modal"
                                (click)="addRecord(finishedUnits.valueAsNumber, finishedDate.valueAsDate)">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>